<!DOCTYPE html>
<!--
-->
<script></script>

<style>
  /* .navbar {
    margin: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #b91d47;
    border-radius: 12px;
    box-shadow: 0px 5px 102px black;
  }

  .titlu {
    padding-top: 10px;
    margin: 0;
    color: white;
    font-size: 30px;
    padding-right: 10px;
  }

  a {
    padding-top: 20px;
    color: white;
    text-decoration: none;
    padding-left: 12px;
  }

  a:hover {
    color: white;
    font-size: large;
    text-decoration: underline;
    padding-left: 12px;
  }

  .black {
    color:var(--black);
  }

  .black:hover {
    color:va
  } */

  .iframe {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
  }

  /* p{
    color: green;
  } */
</style>

<html lang="ro">
  <head>
    <%- include("../fragmente/head") %>
    <meta
      name="keywords"
      content=": Hypero, magazin haine, magazin adidasi, magazin incaltaminte, Sneaker Shop, Streetwear, Bucuresti, Nike, Adidas, Supreme, Bape, Balenciaga"
    />
    <meta
      name="description"
      content="Hypero! Avem cei mai hyped sneakersi din Romania. Gasesti la noi ultimele lansari Nike, Yeezy si Jordan.
         Urmareste-ne pe instagram la @Hypero pentru a fi la curent cu giveaway-urile pe care le facem!"
    />
    <title>Hypero</title>
  </head>

  <body class="pagina-contact">
    <%- include("../fragmente/header") %>
    <main style="margin-top: 37%"></main>
    <%- include("../fragmente/footer") %>
  </body>
</html>
