<!DOCTYPE html>

<script></script>
<style>
  .iframe {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
  }
</style>
<html lang="ro">
  <head>
    <%- include("../fragmente/head") %>
    <meta
      name="keywords"
      content=": Hypero, magazin haine, magazin adidasi, magazin incaltaminte, Sneaker Shop, Streetwear, Bucuresti, Nike, Adidas, Supreme, Bape, Balenciaga"
    />
    <meta
      name="description"
      content="Hypero! Avem cei mai hyped sneakersi din Romania. Gasesti la noi ultimele lansari Nike, Yeezy si Jordan.
         Urmareste-ne pe instagram la @Hypero pentru a fi la curent cu giveaway-urile pe care le facem!"
    />
    <title>Hypero</title>
  </head>
  <body>
    <%- include("../fragmente/header") %>
    <main style="margin-top: 2px; border: 2px black solid; padding: 20px">
      <h1>Despre noi!</h1>
      <div style="display: flex; justify-content: space-between">
        <img
          src="./resurse/imagine/hyperoshop.jpeg"
          style="scale: 100%; margin-right: 20px"
          width="500px"
          height="500px"
        />
        Ne-am facut aparitia pentru prima oara pe data de 04.03.2024 si am
        inceput sa crestem rapid de atunci. Fiind o sursă de inspirație pentru
        iubitorii de streetwear din întreaga lume, ne mândrim cu o gamă diversă
        de articole vestimentare, de la tricouri și hanorace până la jachete și
        accesorii, toate concepute cu atenție la detalii și fabricate din
        materiale de cea mai înaltă calitate. La baza brandului nostru stă
        pasiunea pentru inovație și creativitate. Echipa noastră de designeri
        talentați și vizionari lucrează neîncetat pentru a crea colecții care să
        redefinească moda streetwear, aducând elemente fresh și inovatoare în
        fiecare piesă. Mai mult decât atât, suntem dedicați sustenabilității și
        responsabilității sociale. Ne străduim să minimizăm impactul asupra
        mediului înconjurător prin utilizarea materialelor sustenabile și prin
        promovarea unor practici de producție etice și responsabile. Pe pagina
        noastră, vei găsi nu doar colecțiile noastre deosebite, ci și povestea
        din spatele brandului nostru, valorile noastre și angajamentul nostru
        față de clienți și comunitate. Îți invităm să explorezi lumea noastră
        captivantă și să te alături comunității noastre în călătoria noastră
        spre un stil de viață autentic și plin de stil.
      </div>
      <section id="motivatie">
        <h1>Motivatie:</h1>
        Motivația din spatele lansării Hypero provine dintr-o pasiune profundă
        pentru cultura streetwear și dorința de a aduce un plus de valoare
        pieței de modă de lux. Ca iubitori de adidași și haine de top, am
        observat cât de dificil poate fi să găsești piese autentice și
        exclusiviste într-un singur loc. De aceea, am creat Hypero, un brand
        dedicat celor care împărtășesc aceeași pasiune pentru stil și inovație.
        Am vrut să oferim clienților noștri acces la cele mai râvnite modele de
        adidași și articole vestimentare, de la Nike Dunk-uri rare și Adidas
        Ultraboost, până la colecții exclusiviste Prada. Ne-am propus să creăm o
        platformă unde autenticitatea, calitatea și exclusivitatea se întâlnesc,
        oferind o experiență de cumpărături unică. Prin Hypero, ne dorim să
        inspirăm și să împuternicim iubitorii de modă să își exprime
        personalitatea prin piese deosebite, transformând fiecare ținută într-o
        adevărată declarație de stil.
      </section>
      <h2>Te așteptăm cu brațele deschise în universul Hypero!</h2>
    </main>
    <%- include("../fragmente/footer") %>
  </body>
</html>
