<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Hypero</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
        <link href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main style="margin: 25px">
        <h1>Politica de Confidențialitate</h1>
        <p><h3 style="color:var(--culoare2)">Informații Colectate</h3>
            "Hypero" poate colecta informații personale de la utilizatori în momentul înregistrării conturilor sau în timpul utilizării serviciului. Aceste informații pot include, dar nu se limitează la: nume, adresă de e-mail, adresă poștală, date de facturare și alte detalii relevante.
        </p>

        <p><h3 style="color:var(--culoare2)">Utilizarea Informațiilor</h3>
            Informațiile personale colectate sunt utilizate pentru a oferi și a îmbunătăți serviciul furnizat de "Hypero", inclusiv procesarea comenzilor, gestionarea conturilor utilizatorilor și transmiterea actualizărilor și ofertelor relevante.
            <p><h3 style="color:var(--culoare2)">Listarea Produselor</h3>
            Utilizatorii care doresc să listeze produse pe platformă trebuie să respecte termenii și condițiile specifice de listare stabilite de către "Hypero".
            </p>
            
            <p><h3 style="color:var(--culoare2)">Protecția Informațiilor</h3>
           "Hypero" respectă confidențialitatea informațiilor personale și se angajează să le protejeze împotriva accesului neautorizat sau utilizării inadecvate. Aceste informații nu vor fi distribuite sau vândute terților fără consimțământul utilizatorilor.</p>
            
            <p><h3 style="color:var(--culoare2)">Cookie-uri și Tehnologii de Urmărire</h3>
            "Hypero" poate utiliza cookie-uri și alte tehnologii de urmărire pentru a colecta informații despre interacțiunile utilizatorilor cu platforma, în scopul îmbunătățirii experienței de utilizare și oferirii de conținut personalizat.</p>
            <p><h3 style="color:var(--culoare2)">Limitarea Responsabilității</h3>
            "Hypero" nu își asumă responsabilitatea pentru tranzacțiile sau conflictele care pot apărea între utilizatori în urma utilizării platformei.
            </p>
            
            <p><h3 style="color:var(--culoare2)">Accesul și Corectarea Informațiilor</h3>
            Utilizatorii au dreptul de a accesa, corecta sau șterge informațiile personale furnizate către "Hypero". Aceștia pot solicita modificări ale datelor personale prin intermediul conturilor lor sau prin contactarea echipei de suport a platformei.   </p>
        </main>
    <%- include("../fragmente/footer") %>
    </body>
</html>