<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Hypero</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
        <link href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main style="margin: 25px">
        <h1>Termeni și Condiții</h1>
        <p><h3 style="color:var(--culoare2)">Descriere a Serviciului</h3>
            "Hypero" furnizează o platformă online destinată resell-ului de adidași, accesorii și haine, oferind utilizatorilor posibilitatea de a vizualiza și achiziționa produsele listate pe platformă.
            
        </p>

        <p><h3 style="color:var(--culoare2)">Conturi de Utilizator</h3>
            Utilizatorii au posibilitatea de a crea conturi pentru a accesa și a utiliza serviciul oferit de "Hypero".
            Informațiile furnizate la crearea contului trebuie să fie precise, actuale și complete.</p>
            
            <p><h3 style="color:var(--culoare2)">Listarea Produselor</h3>
            Utilizatorii care doresc să listeze produse pe platformă trebuie să respecte termenii și condițiile specifice de listare stabilite de către "Hypero".
            </p>
            
            <p><h3 style="color:var(--culoare2)">Responsabilitatea Utilizatorului</h3>
            Utilizatorii sunt responsabili de utilizarea adecvată și legală a serviciului.
            Aceștia sunt de asemenea responsabili pentru exactitatea și veridicitatea informațiilor furnizate pe platformă.
            </p>
            
            <p><h3 style="color:var(--culoare2)">Drepturile de Proprietate Intelectuală</h3>
            "Hypero" respectă drepturile de proprietate intelectuală ale altor părți și solicită utilizatorilor să respecte aceleași principii în utilizarea serviciului.
            </p>
            <p><h3 style="color:var(--culoare2)">Limitarea Responsabilității</h3>
            "Hypero" nu își asumă responsabilitatea pentru tranzacțiile sau conflictele care pot apărea între utilizatori în urma utilizării platformei.
            </p>
            
            <p><h3 style="color:var(--culoare2)">Modificări ale Termenilor și Condițiilor</h3>
            "Hypero" își rezervă dreptul de a modifica Termenii și Condițiile în orice moment, fără notificare prealabilă. Utilizatorii sunt responsabili de revizuirea periodică a acestor informații.
                </p>
        </main>
    <%- include("../fragmente/footer") %>
    </body>
</html>