#link-top {
  margin: 8px;
  position: fixed;
  bottom: 0.3em;
  opacity: 0.5;
  left: 0.3em;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--offwhite);
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
}

#link-top:hover {
  box-shadow: inset 0 0 20px var(--dark);
}

#link-top:before {
  opacity: 0.5;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 4px solid var(--culoare1);
  border-top-color: black;
  border-bottom-color: black;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

#link-top:hover:before {
  opacity: 1;
  transform: rotate(90deg);
}

#link-top .sageata {
  font-size: 3rem;
  transform: translateY(-5px);
  text-decoration: none;
  color: var(--dark);
  transition: 1s;
  filter: blur(1.2px);
}

#link-top:hover .sageata {
  transition: 1s;
  filter: blur(0px);
}
/* @keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotateBorder2 {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

/* #triunghi {
  height: 0px;
  width: 0;
  display: inline-block;
  border-bottom: 1.5rem solid grey;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  vertical-align: top;
  transform: translateY(30%);
} */

#tab-orar {
  margin: 10px;
  width: 35px;
  border-collapse: collapse;
}

#tab-orar th,
#tab-orar td {
  border: 1px solid black;
  padding: 12px;
}

#tab-orar td:nth-child(even) + td:nth-child(odd),
#tab-orar td:first-child:not(:last-child) {
  border-right: 3px solid var(--culoare2);
}

#tab-orar td:nth-child(odd) + td:nth-child(even) {
  border-right: 3px solid var(--culoare1);
}

#tab-orar tbody tr:hover,
tfoot tr:hover {
  transition: box-shadow 0.5s;
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

#tab-orar tbody {
  border-bottom: 6px solid black;
}

#tab-orar tfoot {
  border-top: 6px solid black;
}

#tab-orar caption {
  font-size: small;
  color: var(--coolgrey);
  caption-side: bottom;
  text-align: right;
  padding-top: 2px;
}

@media screen and (max-width: 1200px) {
  .table-container {
    overflow-x: auto;
  }
}

@media screen and (max-width: 800px) {
  .table-container {
    overflow-x: auto;
  }
}
