html {
  font-size: 18px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.info-oferte {
  font-size: 1.5rem;
}

.imagine {
  width: 100%;
}

.iframe {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.iframe iframe {
  border: 4px solid black;
}

.taburi-iframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.taburi-iframe a {
  display: block;
  margin-right: 12px;
  background: var(--culoare1);
  border-top: 5px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  padding-top: 8px;
  box-shadow: inset 0 0 10px black;
  transition: 300ms;
  color: black;
  text-decoration: none;
}

.taburi-iframe a:hover {
  transition: 300ms;
  background: var(--culoare2);
}

#grid-pagina {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "welcome welcome welcome"
    "promotii promotii orar"
    "fig1 produse produse"
    "fig2 produse produse"
    "fig3 produse produse"
    "anunturi anunturi anunturi"
    "index-intrebari index-intrebari index-intrebari";
}

#grid-pagina > * {
  border: 2px solid black;
  border-radius: 12px;
  margin: 3px;
}

#welcome {
  grid-area: welcome;
}
#promotii {
  grid-area: promotii;
}
#anunturi {
  grid-area: anunturi;
}
#orar {
  grid-area: orar;
}

#fig1 {
  grid-area: fig1;
}
#fig2 {
  grid-area: fig2;
}
#fig3 {
  grid-area: fig3;
}
#produse {
  grid-area: produse;
}
#index-intrebari {
  grid-area: index-intrebari;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  #grid-pagina {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  #grid-pagina {
    display: block;
  }
}
