body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.my-custom-font {
  font-family: "Madimi One", sans-serif !important;
}

footer {
  display: flex;
  flex-direction: column;
  background: var(--culoare1);
}

footer a {
  color: var(--coolgrey);
}

.info-oferte {
  font-size: 1.5rem;
}

.imagine {
  width: 100%;
}

.iframe {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.iframe iframe {
  border: 4px solid black;
}

.taburi-iframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.taburi-iframe a {
  display: block;
  margin-right: 12px;
  background: var(--culoare1);
  border-top: 5px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  padding-top: 8px;
  box-shadow: inset 0 0 10px black;
  transition: 300ms;
  color: black;
  text-decoration: none;
}

.taburi-iframe a:hover {
  transition: 300ms;
  background: var(--culoare2);
}

#grid-pagina {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "welcome welcome welcome welcome"
    "calendar orar orar anunturi "
    "diverse diverse diverse diverse"
    "datesite datesite utilizatori statistici";
}

#grid-pagina > * {
  border: 2px solid var(--dark);
  padding: 12px;
}

#welcome {
  grid-area: welcome;
}
#anunturi {
  grid-area: anunturi;
  column-count: 2;
  column-gap: 20px;
}

#anunturi p {
  column-rule: 1px solid var(--coolgrey);
}

#calendar {
  grid-area: calendar;
}
#orar {
  grid-area: orar;
}
#datesite {
  grid-area: datesite;
}
#datesite iframe {
  max-width: 100%;
}
#diverse {
  grid-area: diverse;
}
#statistici {
  grid-area: statistici;
}
#utilizatori {
  grid-area: utilizatori;
}

#banner {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 25vw;
  height: 25vw;
  background-color: var(--dark);
  color: var(--offwhite);
  transform: scale(0);
  transform-origin: bottom left;
  padding: 10px;
  font-size: calc(1vw + 1vh);
  animation: fadeInBanner 5s ease forwards;
}

#banner p {
  margin: 0;
}

#banner button {
  margin-top: 5px;
  background-color: var(--offwhite);
  color: var(--culoare2);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#banner button:hover {
  color: var(--culoare1);
  background-color: var(--culoare2);
}

@media only screen and (max-width: 1200px) {
  #banner {
    animation: none;
    opacity: 1;
    transform: scale(1);
    background-color: var(--culoare1);
  }
}

@media only screen and (max-width: 800px) {
  #banner {
    animation: none;
    opacity: 1;
    transform: scale(1);
    background-color: var(--culoare1);
  }
}

@keyframes fadeInBanner {
  0% {
    opacity: 0;
    transform: scale(0);
    background-color: var(--dark);
  }
  75% {
    opacity: 0.75;
    background-color: var(--culoare1);
  }
  100% {
    opacity: 0.75;
    transform: scale(1);
    background-color: var(--culoare1);
  }
}

@media print {
  #banner {
    display: block;
    position: absolute;
    width: calc(50%);
    top: 0;
    right: 0;
    padding: 10px;
    border: 4px double var(--dark);
    text-align: center;
    background-color: var(--offwhite);
  }

  h1 {
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin-bottom: 5px;
  }

  nav {
    page-break-after: always;
  }

  footer {
    page-break-before: always;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  #grid-pagina {
    display: block;
  }

  img,
  video,
  iframe,
  audio,
  figcaption,
  a[id="link-top"] {
    display: none;
  }

  @media (min-width: 1200px) {
    #grid-galerie {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 800px) {
    #grid-galerie {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @page {
    size: A4 portrait;
    margin-top: 2cm;
    margin-bottom: 2cm;
  }

  @page: left {
    margin-left: 2cm;
    margin-right: 1cm;
  }

  @page: right {
    margin-left: 1cm;
    margin-right: 2cm;
  }

  #watermark {
    display: block;
    position: fixed;
    top: 45%;
    left: 20%;
    color: black;
    opacity: 0.3;
    width: 60%;
    height: 10%;
    text-align: center;
    line-height: 1;
    z-index: -100;
  }

  #watermark::before {
    content: "Vasii";
    display: block;
  }

  #watermark::after {
    content: "Alexandru-Alin";
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .iframe iframe {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  html {
    font-size: 2em;
  }
  #grid-pagina {
    display: block;
  }
  #anunturi {
    column-count: 1;
  }
}

@media screen and (max-width: 800px) {
  .iframe iframe {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  html {
    font-size: 1em;
  }
  #grid-pagina {
    display: block;
  }
  #anunturi {
    column-count: 1;
  }
}
