html {
  font-size: 18px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  display: flex;
  flex-direction: column;
  background: var(--culoare1);
}

footer a {
  color: var(--coolgrey);
}

.info-oferte {
  font-size: 1.5rem;
}

.imagine {
  width: 100%;
}

.iframe {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.iframe iframe {
  border: 4px solid black;
}

.taburi-iframe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.taburi-iframe a {
  display: block;
  margin-right: 12px;
  background: var(--culoare1);
  border-top: 5px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  padding-top: 8px;
  box-shadow: inset 0 0 10px black;
  transition: 300ms;
  color: black;
  text-decoration: none;
}

.taburi-iframe a:hover {
  transition: 300ms;
  background: var(--culoare2);
}

#grid-pagina {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "welcome welcome welcome"
    "calendar orar anunturi "
    "diverse diverse diverse"
    "datesite utilizatori statistici";
}

#grid-pagina > * {
  border: 2px solid var(--dark);
  padding: 12px;
}

#welcome {
  grid-area: welcome;
}
#anunturi {
  grid-area: anunturi;
}
#calendar {
  grid-area: calendar;
}
#orar {
  grid-area: orar;
}
#datesite {
  grid-area: datesite;
}
#datesite iframe {
  max-width: 100%;
}
#diverse {
  grid-area: diverse;
}
#statistici {
  grid-area: statistici;
}
#utilizatori {
  grid-area: utilizatori;
}

@media screen and (max-width: 1200px) {
  .iframe iframe {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  html {
    font-size: 2em;
  }
  #grid-pagina {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .iframe iframe {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  html {
    font-size: 1em;
  }
  #grid-pagina {
    display: block;
  }
}
