body {
  --culoare1: rgb(0, 0, 0);
  --spatiere: 100px;
  padding: 0 var(--spatiere) 0 var(--spatiere);
  /* padding-left: var(--spatiere);
    padding-right: var(--spatiere); */
}

p {
  color: var(--culoare1);
}
