body {
  --culoare1: #00ffec;
  --culoare2: #00aca0;
  --coolgrey: #5e6167;
  --dark: #000000;
  --offwhite: #edeae0;
  --spatiere: 100px;
  --padd: 20px;
  --inaltime-meniu: 10px;
  padding: 0 var(--spatiere) 0 var(--spatiere);
  /* padding-left: var(--spatiere);
    padding-right: var(--spatiere); */
  background: var(--offwhite);
}

body.dark {
  --culoare1: #faf1d8;
  --culoare2: #faf1d8;
  --coolgrey: #5e6167;
  --dark: #000000;
  --offwhite: #00aca0;
  --spatiere: 100px;
  --padd: 20px;
  --inaltime-meniu: 10px;
  padding: 0 var(--spatiere) 0 var(--spatiere);
  /* padding-left: var(--spatiere);
    padding-right: var(--spatiere); */
  background: var(--offwhite);
}

body.mocha {
  --culoare1: #d1a684;
  --culoare2: #3e2723;
  --coolgrey: #8d6e63;
  --dark: #4e342e;
  --offwhite: #d7ccc8;
  --spatiere: 100px;
  --padd: 20px;
  --inaltime-meniu: 10px;
  padding: 0 var(--spatiere) 0 var(--spatiere);
  background: var(--offwhite);
}

footer {
  padding: 2px var(--padd);
}

p {
  color: var(--dark);
}

a:visited {
  color: var(--coolgrey);
}

main a[href^="http"]::before {
  content: "⮳";
  font-size: 150%;
  display: inline-block;
}

main a[href^="http"]:hover::before {
  color: var(--culoare2);
}

main a {
  color: var(--coolgrey);
  position: relative;
  overflow: hidden;
}

main a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background: radial-gradient(
    circle,
    var(--culoare1) 0%,
    var(--culoare1) 40%,
    transparent 80%,
    transparent 100%
  );
  background-position: center;
  background-size: 0% 0%;
  filter: blur(5px);
  transition: transform 2s ease;
  z-index: -1;
}

main a:hover::after {
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

main a:active {
  outline: 2px solid var(--coolgrey);
}

hr {
  height: 20px;
  border: none;
  background-image: linear-gradient(
      to right,
      transparent,
      var(--culoare1) 10%,
      var(--culoare1) 25%,
      var(--culoare1) 50%,
      var(--culoare1) 75%,
      transparent 10%,
      transparent 25%,
      transparent 50%,
      transparent 75%
    ),
    linear-gradient(
      to right,
      transparent,
      var(--coolgrey) 10%,
      var(--coolgrey) 25%,
      var(--coolgrey) 50%,
      var(--coolgrey) 75%,
      transparent 10%,
      transparent 20%,
      transparent 40%,
      transparent 70%
    ),
    linear-gradient(
      to right,
      transparent,
      var(--culoare2) 10%,
      var(--culoare2) 25%,
      var(--culoare2) 50%,
      var(--culoare2) 75%,
      transparent 10%,
      transparent 20%,
      transparent 40%,
      transparent 70%
    );
  background-repeat: repeat-x;
  background-size: 2% 33.33%;
  background-position: 0 0, -20% 45%, 0 90%;
}
