<footer>
  <p id="banner">
    Acesta este un proiect școlar!
    <button id="ok_cookies">Accepta cookies</button>
  </p>
  <a href="/termeni_si_conditii">Termeni si conditii</a>
  <a href="/politica_de_confidentialitate">Politica de confidentialiate</a>
  <a href="mailto:hypero@cop.com">Contact e-mail Hypero</a>
  <p>
    Skype:
    <a class="black" href="skype:hypero?chat">Chat prin Skype</a>
  </p>
  <span
    ><i class="fa fa-car" style="margin-right: 8px"></i
    ><a href="tel:+4071234567" class="black">Contact telefon Hypero</a></span
  >
  <a href="#" title="Înapoi sus" id="link-top">
    <span class="sageata">&#8593;</span>
  </a>
  <div id="watermark"></div>
</footer>
