<%- include("../fragmente/head") %> <% if(locals.utilizator) { %>
<li>
  <div>
    <a href="/profil"
      ><%- locals.utilizator.username %> <%- locals.utilizator.prenume %></a
    >
  </div>
</li>
<li>
  <a href="/logout"> <i class="bi bi-door-closed-fill"></i></a>
</li>
<% } %>
