<style>
  .iconita:hover {
    color: var(--offwhite);
  }
</style>

<%- include("../fragmente/head") %> <% if(locals.utilizator) { %>
<li>
  <div>
    <a href="/profil"
      ><%- locals.utilizator.username %> <%- locals.utilizator.prenume %></a
    >
  </div>
</li>
<a href="/logout" title="Logout" style="margin: 8px 12px 8px 12px">
  <i class="bi bi-door-closed-fill iconita"></i
></a>
<% } %>
